@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$custom-colors: (
  'altlight': #f2ebfa,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import 'bootstrap/scss/bootstrap';


html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

.app {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  position: relative;
  min-height: 100svh;
  overflow: auto;

  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 3.5rem;
  }

}